/* Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    text-align: center;
}

/* Boîte animée avec keyframes */
.bouncing {
    width: 100px;
    height: 100px;
    background-color: #FFB677;
    border-radius: 20px;
    margin: 50px auto;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform:  translateY(-20px);
    }
}
